* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	margin: 0 auto;
	background-color: #f1f1f1;
	font-size: 10px;
	color: #c2c2c2
}

.container {
	width: 320px;
	min-width: 75%;
	margin: 0 auto;
}

form {
	opacity: 0.4;
	color: #ec5a62;
}

header {
	padding-top: 5%;
}

button , input {
	border: none;
	background-color: transparent;
}

input {
	height: 100%;
	max-width: 85%;
	min-width: 280px;
	border-bottom: 3px solid #f1f1f1;
	font-size: 5rem;
	font-weight: 800;
	color: #ec5a62;
}

button{
	position: absolute;
	height: 110px;
	width: 110px;
	background-image:
		url(huge-search-img-master/img/magnifier.svg);
	transition: all  .3s;
	vertical-align: bottom;
}

.results {
	font-size: 0;
	padding-top: 2%;
}

div {
	width: 33.3%;
	font-size: 1.4rem;
}

h2 {
	margin-left: 10px;
}

ul {
	width: 95%;
	margin: 0;
	list-style: none;
	padding-left: 0;
	margin-right: 0;
	font-weight: 700;
}

li {
	display: inline-block;
	margin: 5px 5px;
	padding: 5px 10px;
	width: 100%;
	background-color: rgba(118,117,128,0.05);
	border-radius: 6px;
}

.lists {
	display: inline-block;
}

img {
	width: 30%;
	margin-right: 10px;
	vertical-align: middle;
}

.people img {
	border-radius: 100px;
}

a {
	display: block;
	text-decoration: none;
	color: #c2c2c2;
	font-size: 1rem;
}

p {
	display: inline-block;
	max-height: 3.3rem;
	width: calc(70% - 10px);
	vertical-align: middle;
	overflow: hidden;
}

a:hover {
	color: #ec5a62;
}

li:hover {
 	background-color: rgba(118,117,128,0.1);
}

button:hover,
button:focus,
button:active {
	outline: none;
	transform: scale(1.15);
}

input:hover,
input:focus,
input:active {
	outline: none;
	border-bottom: 3px solid #ec5a62;
}
